#content {
    margin-bottom: 60px;
}

.champion-name, .champion-title {
    font-weight: bold;
}

.summoner-name {
    font-weight: bolder;
}

.summoner-rank {
    font-weight: bold;
}

.champion-portrait {
    height: 148px;
}

.chestless-title {
    text-anchor: middle;
    font-size: 18px;
    color: #333333;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    padding-bottom: 5px;
}

a.footer-link, a:link.footer-link, a:visited.footer-link, a:hover.footer-link, a:active.footer-link {
    color: #BEBEBE;
    text-decoration: none;
}

.top-buffer {
    margin-top: 20px;
}